// bower:scss
// endbower

/* compass */
@import "compass";
@import "compass/reset";

/* Color Variables*/
$brand: #27AE60;
$base-font-color: #444;
$base-font: 'Roboto', sans-serif; /*300, 500, 900*/

/*Vertical Rhythm Typography*/
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

/*Styles*/

/*Main*/
* {
    box-sizing:  border-box;
}
body  {
  color: $base-font-color;
  font-family:  $base-font;
  font-weight: 300;
}
p {
    margin-bottom:  10px;
}
a {
    color: $brand;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: 0;
}
.main-wrapper{
  float: left;
  position: relative;
  width: 100%;
  @include transition(all 0.3s ease-in-out);
}
.container {
    margin:  0 auto;
    max-width:  600px;
    padding:  100px 30px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid $brand;
    white-space: nowrap;
    padding: 6px 25px;
    font-size: .75em;
    border-radius: 4px;
    @include user-select(none);
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
    @include transition(all 0.3s ease-in-out);
}
.btn:hover {
    background-color: #27AE60;
    color: white;
}
h1, h2, h3, h4 {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
}
h2 {
    @include adjust-font-size-to(24px);
    position: relative;
    margin-bottom:  60px;
}
h2:after {
    content: "";
    height: 2px;
    width: 20px;
    position: absolute;
    bottom: -13px;
    margin-left: -10px;
    left: 50%;
    background: $brand;
}

/*Navigation*/
.lines {
    position: fixed;
    right: 85px;
    top:  40px;
    z-index:  15;
     &.black span,.black span:before,.black span:after {
        background:  black;
     }
}
.lines span,
.lines span:before,
.lines span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  z-index:  10;
  @include transition(all 0.1s ease-in-out);
}
.lines span:before {
  top: -10px; 
}
.lines span:after {
  bottom: -10px;
}
.lines.close span:before,
.lines.close span:after {
  top: 0;
}
.lines.close span {
  background-color: transparent;
   &:before {
    @include rotate(45deg);
   }
   &:after {
    @include rotate(-45deg);
   }
}
#main-nav.nav-active {
  right: 0px;
  + .main-wrapper {
    width: 100%;
    @include transition(all 0.3s ease-in-out);
    @include translateX(-200px)
  }
}
nav  {
  background: #222;
  right: -200px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 200px;
  padding: 30px 0 0;
  z-index:  5;
  @include transition(all 0.3s ease-in-out);
    ul {
        list-style-type:  none; 
    }
     li {
        text-align:  center;
        color:  white;
        padding: 15px 0;
        text-transform:  uppercase;
        border-bottom:  1px solid #1B1B1B;
        letter-spacing: .1em;
        @include transition(all 0.3s ease-in-out);
            &:first-child {
                border-top:  1px solid #1B1B1B;
            }
            &:hover {
                background-color:  $brand;
            }
     }
}

/*Main*/
#hero {
    background: url('../images/me-bw.jpg');
    background-color:  #222;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: relative;
    text-align: center;
}
.logo {
    position: fixed;
    left: 35px;
    top: 35px;
    z-index: 50;
    display: none;
    width: 54px;
    background-size: cover;
}

/* About */


/*Browse Happy*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
