// bower:scss
// endbower

/* Variables*/
$base-font: 'Lato', sans-serif; /*300, 400, 900*/


#twentytwenty {
  margin-bottom: 28px;
}

.twentytwenty-overlay {
  border-radius: 5px 5px 0 0;
}

.twentytwenty-before-label:before,
.twentytwenty-after-label:before {
  border-radius: 4px;
  font-family: $base-font;
  letter-spacing: 0em!important;
}

.twentytwenty-before-label:before {
  content: "Day";
}

.twentytwenty-after-label:before {
  content: "Night";
}
